<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILogReceiverServer" />
                <binding name="WSHttpBinding_ILogService" />
                <binding name="WSHttpBinding_ILogServiceAsync" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7741/UnifiedWorkSolution/Loggers/LogReceiverService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILogReceiverServer"
                contract="ILogReceiverServer" name="WSHttpBinding_ILogReceiverServer">
                <identity>
                    <servicePrincipalName value="host/{var:MachineName}" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7741/UnifiedWorkSolution/Loggers/LogReceiverService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILogService"
                contract="ILogService" name="WSHttpBinding_ILogService">
                <identity>
                    <servicePrincipalName value="host/{var:MachineName}" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7741/UnifiedWorkSolution/Loggers/LogReceiverService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILogServiceAsync"
                contract="ILogServiceAsync" name="WSHttpBinding_ILogServiceAsync">
                <identity>
                    <servicePrincipalName value="host/{var:MachineName}" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>