<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" />
  </system.web>

  <!-- System.Configuration does not support config files for libraries. -->
  <!-- copy-pasted to service host's app.config file -->
  <system.serviceModel>
    <!-- Services -->
    <services>
      
      <!-- logger -->
      <service behaviorConfiguration="PublicServiceBehaviour" name="ServiceLibrary.Services.LogReceiverService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7741/UnifiedWorkSolution/Loggers/LogReceiverService" />
            <add baseAddress="net.pipe://localhost/Loggers/LogReceiverService" />
          </baseAddresses>
        </host>

        <!-- ws -->
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="NLog.LogReceiverService.ILogReceiverServer"

                  bindingConfiguration="SecureWsHttpBinding" /> <!--bindingNamespace="http://aei.polsl.pl/services/logger"-->
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="SecureWsHttpBinding"
                  bindingNamespace="http://aei.polsl.pl/services/logger"
                  contract="ServiceLibrary.Contracts.ILogService" />
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="SecureWsHttpBinding"
                  bindingNamespace="http://aei.polsl.pl/services/logger"
                  contract="ServiceLibrary.Contracts.ILogServiceAsync" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        
      </service>
      
    </services>
    <!-- Bindings -->
    <bindings>
      
      <!-- default, basic security -->
      <wsHttpBinding>
        <binding name="SecureWsHttpBinding" > <!--messageEncoding="Mtom" >-->
          <security mode="Message" >
            <message clientCredentialType="Windows" /> <!--"Certificate" />-->
          </security>
        </binding>
      </wsHttpBinding>
      
      <!-- nlog - light security, widely targeted -->
      <basicHttpBinding>
        <binding name="SecureBasicHttpBinding" >
          <security mode="Transport" >
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
      
      <!-- needed to remove errors -->
      <netNamedPipeBinding>
        <binding> <!--name="NetNamedPipeBinding" >-->
          <security mode="None"></security>
        </binding>
      </netNamedPipeBinding>
      
    </bindings>
    <!-- Behaviors -->
    <behaviors>
      <serviceBehaviors>
        
        <!-- default, development -->
        <behavior name="PublicServiceBehaviour" >
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
        
        <!-- ssl oriented -->
        <behavior name="SecuredServiceBehaviour" >
          <serviceMetadata httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
        
        <!-- unexposed -->
        <behavior name="UnexposedServiceBehaviour" >
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
        
      </serviceBehaviors>
    </behaviors>
    <!-- Diagnostics -->
    <diagnostics wmiProviderEnabled="True" >
      <!-- use the following only for deployment or debugging -->
      <messageLogging logEntireMessage="True"
                      logMalformedMessages="True"
                      logMessagesAtServiceLevel="True"
                      logMessagesAtTransportLevel="True"
                      maxMessagesToLog="500" />
    </diagnostics>
    <!-- Settings -->
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="True" />--> <!-- <== only valid for HTTP protocol for IIS hosting -->
  </system.serviceModel>
  
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
</configuration>