<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>

  <!-- copy-pasted from service library's app.config file -->
  <connectionStrings>
    <add name="RelativeDefaultConnectionString2"
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\RelativeDefaultDatabase.mdf;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- for Effort -->
  <entityFramework>
    <!--<defaultConnectionFactory type="ServiceLibrary.UnitTests.Tools.EffortProviderFactory, ServiceLibrary.UnitTests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->

    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
  </entityFramework>
  
</configuration>